<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-dark text-muted">Вход</h4>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Пароль</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>
            <button type="button" class="btn btn-info" (click)="login()">Войти</button>
            <div class="row">
              <div class="col-md-6">
                <a href="/register" style="text-decoration: none;"> Еще нет аккаунта? <span class="text-danger">Зарегистрироваться</span></a>
              </div>
              <div class="col-md-6">
                <a href="" class="text-dark" style="text-decoration: none;"> Забыли пароль? </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
